<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-push-notifications" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-push-notifications</name>
    <js-module name="PushNotification" src="www/PushNotification.js">
        <clobbers target="pushNotification" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="ios-package" value="PushNotification" />
            </feature>
        </config-file>
        <header-file src="src/ios/PushNotification-Bridging-Header.h" />
        <source-file src="src/ios/PushNotification.swift" />

        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.3.50" />

            <feature name="PushNotification">
                <param name="android-package" value="notifications.Notifications" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="444"/>
            <service android:name="notifications.MyFirebaseMessagingService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>

        <source-file src="src/android/Notifications.kt" target-dir="src/main/kotlin/notifications"/>
        <source-file src="src/android/MyFirebaseMessagingService.kt" target-dir="src/main/kotlin/notifications" />
        <source-file src="src/android/build-extras.gradle" target-dir="."/>

        <framework src="com.google.gms:google-services:4.3.10" />
        <framework src="com.google.firebase:firebase-messaging:20.0.1" />

        <hook src="hooks/android/configureProjectLevelDependency.js" type="before_build" />
        <hook src="hooks/android/configureProjectLevelDependency.js" type="before_plugin_add" />
        <hook src="hooks/android/configureProjectLevelDependency.js" type="after_platform_add" />
    </platform>
</plugin>